version: '3.8'

services:
  backend:
    build: ./backend
    container_name: tasksphere-backend
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=tasksphere
      - DB_PORT=5432
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: tasksphere-db
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=tasksphere
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
  frontend:
    build: ./frontend
    container_name: tasksphere-frontend
    depends_on:
      - backend
    networks:
      - app-network
    ports:
      - "3000:3000"

volumes:
  pgdata:
networks:
  app-network:
    driver: bridge