apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: postgres-namespace
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP # Or NodePort/LoadBalancer if external access is needed
