name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build-test-push:
    name: Build, Test & Push Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # ----------------------- BACKEND -----------------------
      - name: Install backend dependencies
        working-directory: ./backend
        run: npm install

      - name: Run backend tests
        working-directory: ./backend
        run: npm test --if-present

      - name: Build backend Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/tasksphere-backend:latest ./backend

      # ----------------------- FRONTEND -----------------------
      - name: Install frontend dependencies
        working-directory: ./frontend
        run: npm install

      - name: Build frontend Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/tasksphere-frontend:latest ./frontend

      # ----------------------- DOCKERHUB -----------------------
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push backend image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/tasksphere-backend:latest

      - name: Push frontend image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/tasksphere-frontend:latest
